spring:
  main:
    web-application-type: none
  datasource:
    url: jdbc:sqlite:${user.home}/.javafx-demo/demo.db
    driver-class-name: org.sqlite.JDBC
    username: sa
    password: ""
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto